/* full page  */
/* * {
    margin: 0;
} */


/*--------- google font ------------ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/*=============== Common styles =============*/
body {
    font-family: 'Open Sans', sans-serif;
}

.containar {
    display: flex;
}

/*---------- first section style start --------*/
.best-player {
    display: flex;
    width: 1321px;
    height: 646px;
    justify-content: center;
    background-color: #161616;
    border-radius: 30px;

}

.section-title {
    width: 531px;
    height: 424px;
}

.earth {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.section-title p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.favorite-player img {
    width: 581px;
    height: 613px;
    padding-top: 32px;
}

/* ----------first section style end-------- */
/* ---------aside nav start --------- */
.side-nav {
    /* position: fixed; */
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.side-nav a {
    display: block;
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 20px;
    background-color: turquoise;
    margin-left: 32px;
    border-radius: 10px;

}

/*-------- aside nav end ------- */
/* -----------Transfer grid styles start --------------- */
.blog-image {
    width: 312px;
    height: 390px;
    margin: 20px;
    border: 1px solid#E8E8E8;
    border-radius: 10px;
}

.blog-title {
    padding: 10px;
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

span {
    font-size: 16px;
    color: grey;
    padding: 10px;

}