/* full page  */
/* * {
    margin-left: 0;
    margin-right: 0;
} */
body {
    /*remove horizontal margins*/
    /* margin-left: 0;
margin-right: : 0 */
}


/*--------- google font ------------ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/*=============== Common styles =============*/
body {
    font-family: 'Open Sans', sans-serif;
}

.containar {
    /* width: 1200px; */
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

/*---------- first section style start --------*/
.best-player {
    display: flex;
    width: 1321px;
    height: 646px;
    justify-content: center;
    background-color: #161616;
    border-radius: 30px;

}

.section-title {
    width: 531px;
    height: 424px;
}

.earth {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.section-title p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.favorite-player img {
    width: 581px;
    height: 613px;
    padding-top: 32px;
}

/* ----------first section style end-------- */
/* ---------aside nav start --------- */
.side-nav {
    /* position: fixed; */
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.side-nav a {
    display: block;
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 20px;
    background-color: turquoise;
    margin-left: 32px;
    border-radius: 10px;

}

/*-------- aside nav end ------- */
/* -----------Transfer grid styles start --------------- */
.movement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.blog-image {
    width: 312px;
    height: 390px;
    /* margin: 20px; */
    border: 1px solid#E8E8E8;
    border-radius: 10px;
}

.blog-title {
    padding: 10px;
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

span {
    font-size: 16px;
    color: grey;
    padding: 10px;

}

/*------------- Transfer grid styles end ---------- */
/* ----------tablet view button-------- */
.tablet-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 70px;
}

#teblet-view {
    width: 150px;
    height: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 29px;
    background-color: #DD0000;
    border: 1px solid;
    border-radius: 5px;
}

/* -------footer styles------ */
footer {
    /* width: 1600px; */
    height: 444px;
    background: #161616;
}

.target {
    text-align: center;
    font-size: 40px;
    line-height: 180px;
    color: #FFFFFF;
}

hr {
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

ul {
    /* justify-content: center; */
    text-align: center;

}

ul li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    text-align: center;
    margin: 0 29px;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #B9B9B9;
}

ul li a:hover {
    color: #DD0000;
    background-color: wheat;
    border-radius: 5px;
}

/* ----------social-contacts icon--------- */
.social-contacts {
    text-align: center;
    color: #FFFFFF;

}

.social-contacts,
span a {
    color: lightcyan;
    text-decoration: none;
    font-size: 20px;
}

social-contacts,
span i {
    color: lightyellow;
    font-size: 30px;
}